{% extends 'layout.html'%} {% block content%}
<div class="timeline">
  <div class="select-group">
    <form action="/departs" method="get" class="selections" id="selection-form">
      <div class="select-group">
        <label for="office">모두 선택</label
        ><input
          type="checkbox"
          name="all"
          id="all-select"
          value="all"
          onclick="selectAll(this)"
        />
      </div>
      <div class="select-group">
        <label for="office">사무실</label
        ><input
          type="checkbox"
          name="departs"
          id="office"
          value="office"
          onclick="checkSelectAll()"
        />
      </div>
      <div class="select-group">
        <label for="develop">개발실</label
        ><input
          type="checkbox"
          name="departs"
          id="develop"
          value="develop"
          onclick="checkSelectAll()"
        />
      </div>
      <div class="select-group">
        <label for="manufact">생산실</label
        ><input
          type="checkbox"
          name="departs"
          id="manufact"
          value="manufact"
          onclick="checkSelectAll()"
        />
      </div>
      <div class="select-group">
        <label for="package">포장실</label
        ><input
          type="checkbox"
          name="departs"
          id="package"
          value="package"
          onclick="checkSelectAll()"
        />
      </div>
      <input type="submit" value="선택" />
    </form>
  </div>

  <form action="/search" method="get" id="search-form">
    <input
      type="text"
      name="item"
      id="search"
      placeholder="검색어를 입력 하세요"
    />
    <input type="submit" value="검색" class="btn" />
  </form>

  <div class="list-window">
    {% for content in contents%}
    <div class="list-item">
      <input type="hidden" name="" id="content-id" value="{{content.id}}" />
      <div class="itemname">
        <input
          type="text"
          name="itemname"
          id="itemname"
          value="{{content.itemname}}"
          readonly
        />
      </div>
      <textarea
        name="description"
        id="description"
        maxlength="140"
        placeholder="제품 설명이 입력됩니다."
        readonly
      >
{{content.itemdescription}}</textarea
      >
      <input type="text" name="" id="depart" value="{{content.depart}}" />

      <label for="office">사무실</label
      ><input
        type="radio"
        name="{{content.itemname}}"
        id="office"
        value="office"
      />
      <label for="develop">개발실</label
      ><input
        type="radio"
        name="{{content.itemname}}"
        id="develop"
        value="develop"
      />
      <label for="manufact">생산실</label
      ><input
        type="radio"
        name="{{content.itemname}}"
        id="manufact"
        value="manufact"
      />
      <label for="package">포장실</label
      ><input
        type="radio"
        name="{{content.itemname}}"
        id="package"
        value="package"
      />
      <script>
        // const item = document.getElementById("itemname").value;
        // const depart = document.getElementById("depart").value;
        document.querySelectorAll('input[type = "radio"]').forEach((tag) => {
          const item = tag.parentNode.querySelector("#depart").value;
          if (item === tag.value) {
            tag.setAttribute("checked", "checked");
          }
        });
      </script>
      <!-- <input type="text" name="" id="" value="{{content.depart}}">
      <label for="office">사무실</label><input type="radio" name="{{content.itemname}}" id="office" checked="checked">
      <label for="develop">개발실</label><input type="radio" name="{{content.itemname}}" id="develop">
      <label for="manufact">생산실</label><input type="radio" name="{{content.itemname}}" id="manufact">
      <label for="package">포장실</label><input type="radio" name="{{content.itemname}}" id="package"> -->

      <div class="buttons">
        <button class="mini-btn" id="update-btn">수정</button>
        <button class="mini-btn" id="remove-btn">삭제</button>
      </div>
      <div class="images">
        {% if content.Images%} {% for img in content.Images%}
        <img src="{{img.image}}" alt="a" />
        {% endfor%} {% endif%}
      </div>
    </div>
    {% endfor%}
  </div>
</div>

<!-- <script>document.getElementById('selection-form').addEventListener('submit', (e) => {
    e.preventDefault();
    const item = 'develop'
    axios.get(`/departs/?departs=${e.target.office.value}`)
  })</script> -->

<script>
  document.querySelectorAll(" #remove-btn").forEach((btn) => {
    btn.addEventListener("click", () => {
      if (confirm("정말로 이 아이템을 삭제 하시겠습니까?")) {
        const contentId =
          btn.parentNode.parentNode.querySelector("#content-id").value;
        axios
          .post(`/post/${contentId}/delete`)
          .then(() => {
            location.reload();
          })
          .catch((e) => {
            console.error(e);
          });
      }
    });
  });
  function checkSelectAll() {
    const checkboxes = document.querySelectorAll('input[name="departs"]');
    const checkedbox = document.querySelectorAll(
      'input[name="departs"]:checked'
    );

    const selectAll = document.querySelector('input[name="all"]');
    if (checkboxes.length === checkedbox.length) {
      selectAll.checked = true;
    } else {
      selectAll.checked = false;
    }
  }

  function selectAll(selectAll) {
    const checkboxes = document.getElementsByName("departs");

    checkboxes.forEach((checkbox) => {
      checkbox.checked = selectAll.checked;
    });
  }
</script>
<script>
  let boxArr = [];
  // document.querySelectorAll('input[name="departs"]').forEach(box => box.addEventListener('change', async () => {

  //   document.getElementById('selection-form').onsubmit

  // }))
  // document.querySelectorAll('input[name="departs"]').forEach(box => box.addEventListener('change', async () => {

  //   if (box.checked) {
  //     if (boxArr.indexOf(box.value) < 0) {
  //       boxArr.push(box.value)
  //     }
  //   } else {
  //     const idx = boxArr.indexOf(box.value)
  //     // console.log(idx)
  //     boxArr.splice(idx, 1)
  //   }
  //   console.log(boxArr)
  //   await axios.get(`/departs/?depart=${boxArr}`)
  // }));
</script>
{% endblock%}
